body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #1e1e2f;
  border-top: 2px solid #e14eca;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px;
}

nav {
  margin: 20px 30px 0 15px;
}

.nav__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px 30px 0 0;
}

.menu-arrow {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  align-self: center;
  margin-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(../img/anime3.png);
  background-position: center;
  background-size: cover;
}

.dropdown-content {
  margin-top: 35px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-link {
  text-decoration: none;
  color: black;
}

.show-dropdown-content {
  display: block;
}

.sidebar {
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  margin: 10px 10px 0 0;
  padding: 10px;
  border-radius: 4px;
}

.logo-wrapper {
  margin-bottom: 10px;
}

.line {
  display: block;
  height: 1px;
  width: 140px;
  background-color: #eee;
  margin: 5px auto;
}

.mydas-logo {
  width: 100%;
  background-image: url(/img/mydas-logo.png);
  display: block;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quotation-list {
  margin: 0;
  padding: 0 15px;
}

.quotation-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  margin: 20px 0;
  color: #eee;
}

.quotation-text {
  margin: auto 0;
}

.graphic-wrapper {
  padding: 10px;
}

.main-chart {

}

.sub-chart {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  margin-top: 20px;
}

.chart-holder {
  padding: 50px;
}

.subchart-holder {
  padding: 20px;
}

.main-chart__card {
  background-color: #27293d;
  border-radius: 4px;
  width: 100%;
  height: 50%;
}

.sub-chart__card {
  background-color: #27293d;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.chart-card__title {
  color: #9A9A9A;
  padding: 10px 0 0 20px;
}

.chart-card__subtitle {
  color: white;
  font-size: 28px;
  font-weight: 100;
  padding: 10px 0 0 20px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  nav {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .dashboard-wrapper {
    padding: 0;
    grid-template-columns: 100%;
  }

  .chart-card__subtitle {
    font-size: 16px;
  }

  .sub-chart {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .chart-holder {
    padding: 0;
  }

  .subchart-holder {
    padding: 0;
  }
}