body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #eee;
  border-top: 2px solid #ff4587;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px;
}

.menu-burger {
  display: none;
  background: #ff4587;
  border: 1px solid #bc527e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 25px;
  right: 30px;
  z-index: 1;
}

.burger {
  position: relative;
  display: block;
  background: white;
  width: 20px;
  height: 2px;
  top: 19px;
  left: 10px;
  transition: 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  background: white;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.burger::before {
  top: -7px;
}

.burger::after {
  bottom: -7px;
}

input {
  display: none;
}

input:checked ~ label .burger {
  transform: rotate(45deg);
}

input:checked ~ label .burger::before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .burger::after {
  transform: rotate(90deg);
  bottom: 0;
}


nav {
  padding: 10px 30px 15px 15px;
  background-color: #292929;
}

.nav__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px 30px 0 0;
}

.nav__item {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  color: rgb(235, 235, 235);
  transition: ease-in 0.1s;
}

.nav__item::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background: #ff4587;
  transition: width .3s;
  left: 0;
  bottom: 0;
}

.nav__item:hover::after {
  width: 100%;
}

.icon__holder {
  display: flex;
  justify-content: flex-end;
}

.menu-arrow {
  cursor: pointer;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff4587;
  align-self: center;
  margin-left: 5px;
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url(../img/anime3.png);
  background-position: center;
  background-size: cover;
}

.dropdown-content {
  margin-top: 35px;
  display: none;
  position: absolute;
  background-color: #6b6b6b;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-link {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #eee;
  transition: 0.2s ease-out;
}

.dropdown-link:hover {
  color: white;
  transition: 0.2s ease-out;
}

.show-dropdown-content {
  display: block;
}

.sidebar-wrapper {
  width: 100%;
}

.sidebar {
  background: linear-gradient(0deg, #37a235 0%, #37a235 100%);
  margin: 10px 10px 0 0;
  padding: 10px;
  border-radius: 4px;
  position: sticky;
  top: 20px;
}

.sidebar-logout {
  display: none;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.line {
  display: block;
  height: 1px;
  width: 140px;
  background-color: #eee;
  margin: 5px auto;
}

.big__line {
  display: block;
  height: 1px;
  width: 200px;
  background-color: #47fa45;
  margin: 5px auto;
}

.bottom-line {
  display: none;
}

.mydas-logo {
  width: 100%;
  background-image: url(/img/mydas-logo.png);
  display: block;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.quotation-title {
  text-align: center;
  margin: 20px 0;
  color: #eee;
}

.quotation-list {
  margin: 0;
  padding: 0 15px;
}

.quotation-item {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
  margin: 20px 0;
  color: #eee;
}

.quotation-text {
  margin: auto 0;
}

.pipe {
  color: #47fa45;
  margin: 0 5px;
}

.graphic-wrapper {
  padding: 10px;
}

.main-chart {

}

.sub-chart {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  margin: 20px 0 20px 0;
}

.chart-holder {
  padding: 50px;
}

.subchart-holder {
  padding: 20px;
}

.main-chart__card {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  height: 50%;
}

.sub-chart__card {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.chart-card__title {
  color: #9A9A9A;
  padding: 10px 0 0 20px;
}

.mainchart-card__subtitle {
  color: rgb(71, 71, 71);
  font-size: 28px;
  font-weight: 100;
  padding: 10px 0 0 20px;
}

.chart-card__subtitle {
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 100;
  padding: 10px 0 0 20px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .sidebar-open {
    overflow: hidden;
  }

  .menu-burger {
    display: block;
  }

  nav {
    display: none;
  }

  .sidebar {
    height: 100vh;
    width: 70%;
    position: absolute;
    left: -100%;
    top: 0;
    transition: left 0.2s ease-in-out;
  }

  .show-sidebar {
    left: 0;
  }

  .sidebar-logout {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 30px;
  }

  .bottom-line {
    display: block;
    height: 1px;
    width: 140px;
    background-color: #eee;
    margin: 5px auto;
  }

  .dashboard-wrapper {
    padding: 0;
    grid-template-columns: 100%;
  }

  .chart-card__subtitle {
    font-size: 16px;
  }

  .sub-chart {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .chart-holder {
    padding: 0;
  }

  .subchart-holder {
    padding: 0;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .dashboard-wrapper {
      grid-template-columns: 30% 70%;
    }

    .chart-holder {
      padding: 15px;
    }

    .subchart-holder {
      padding: 4px;
    }

    .sidebar {
      height: calc(100% - 50%);
    }

    .sidebar-logout {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 18px;
      margin-top: 30px;
    }
  
    .bottom-line {
      display: block;
      height: 1px;
      width: 140px;
      background-color: #eee;
      margin: 5px auto;
    }
}